{% extends "base.html" %}
{% block maincontent %}

<html>
 
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
 
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#121416] tracking-light text-[32px] font-bold leading-tight">Code Utilities</p>
                <p class="text-[#6a7581] text-sm font-normal leading-normal">
                  Explore a suite of code utilities designed to streamline your development workflow. From formatting to conversion, these tools are crafted to enhance productivity
                  and simplify complex tasks.
                </p>
              </div>
            </div>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAbiC-N05v6z6lYdYUUARJrlWKKbO7wQRtqZoLTVSOqw3RagldkXJ8dQJIl1mu-TEB3PF698denP_bfxm16xcuPkITnW3ZSMWT0uqfViOpNWqkODq-cF5DPBeimeuy1TF-mRqV8hZzcIOTUUrpRp6OeD7-ysa0UOtMzdvGvqhIBiwTSPdGttPNVMK2YtyaDfAfOuNsT732IkbTX1c9QupfEun_15Z8byO-yGfBu_cjO2flz_TNkXq0Fn0k4VRvrhgCYp1OZW8wn6moA");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">JSON Formatter</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Format and validate JSON data for readability and error detection.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAP0FRpKrroc0HB1z_LdGoYaqbqaMylwCh8rfRM_dj2-oiGY799Pffq4MPynsVO-TQXqyNWVcWhU0QfiyyuiV9EtsNSzX4CFs2Ph38sGeQz5lfWqJCkl9frWaMLo69XmOU5nCenkwie6W8gIMx03CnvDOq8vJzPnXCv2dDXGZ6E6rn3cekHawyzRTD1iIDz7HVNkaG_fBMaV8yYaxa4dWaVOirFa8Ltnx7WFFrUHhxMy44xQvPrSJ6Xvsd759J1kgvcU_aJyC39HVxL");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Code Beautifier</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Clean up and format code in various languages for better readability.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBRo9XnDbEs1_CxjRJqlO5C1_gXuivs7QNyTxdkfddwOxn2CLDLm2htjQO9i_ssBjrROuKW0sa81boz35hCnqUaBPZib4f-ascyd9_UhyeCGSaEdK2yyDRFxsE8yq_w5PL0Ul0bKW3EbgYNfd9Q3wwO1RGefM2HAG_ALBFaPBDgOktv8ppEYhvzy8lwJ-SjM0npG4EmXN7iqyJXf8119c_5v8epEOasup0fOR2k_TZ_S6ItUvmQX0UZi4tr3oskNCH6P1wTdDUsZL4q");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Base64 Encoder/Decoder</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Encode and decode data using Base64 encoding.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDxwVABFtTnyArYs3Apa-yHh7KO_nMV5aNAnEXUNgiZBQBksF3Es9WKfXswNI2vq0_dBZPMY2Z0ZUqRkqDscw8IhLuZbUTmimDUGS1ZUEDZhE1vrzrxS28LGPXCj8XbvJjTic1GUJINDZadwUFLu3fYs3iWg2YlgS7AfmDWo7TP1rAwm78UqtBqp67OCzGdLgDM_cGZ4Q5J3jU-vPLYxT4_MeAO5UbZ8RwOyDJPDI9r71CLtNOUWUT96LQMGNX56xSBqjG1UTEoOKyK");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">URL Encoder/Decoder</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Encode and decode URLs to handle special characters.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBqmVwu0oV4_jlLs1x74ujA2KSHr4eCneouDRYHZaF-0awsCwy0zxdBdIeQClBOHPGmH7a5nfZ423YM_NzXZ8iRPC9Q3E9x1GrVYIfXHvQUmDAheMxXCymDb2WOoMemoCr-hF9l2t1IWvx3nuDqLt5nZl-bUiexJ3WAKUxFu2TfkxCaqPm9g-Vk09l8ywLUC0JFeLE4VQoFFjAEwF-Z1q0wIS7z76AK_SgPlJPax4YZi16-zQJp-oOCWrLcYN39uYKsFaLm-wgRerjy");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">HTML Minifier</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Reduce the size of HTML files by removing unnecessary characters.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDLExM79U8Yu120KfOQtP-sxbqGM7czUb4klj8F6YtucZoPbk4J3i9lI88hY2HG5nzF73kQgKwTR2yN07aLthc3Zp7E7m2atUHrMd1BJ7zcY0Fz49hJDicOUEFGeBJHzr0DiEwNPYyyoIdu1KIB9jPf4iwsxBkAfVUOUhQZNLHDifL47vGeQt9887LWNvJgZyHC4MYss_JoFjB66wbt09Pub34fUewSWVLond8OaMi6TFEe7QEI4WSlFTJ2HCDhHrC3J_wRT4s9Sl36");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">CSS Minifier</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Minimize CSS file size for faster loading times.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBIY6YdUpXntQ06MSx9dg2rE5_kZH_5CKSAMLw5m95Qf7kH9cYsxyzysGonWrECwDOhzPDqYJLR4sPWRi6mD8oq2Z9o8YyV8XDJattK_mZjNi64I2EvSA_qBay5nHZdtbC6KrzRP3u8W8Yz3RnQsSLPkpLXoh7dFx7nLLP-iwUwofJvJrs0WMIDpG8eozGzTD6ix9XaW1eNpd1lLDm5RW6lkzUif9mtx_rioOTMS_dADE_DlMyPt1igvSPjz80-4GJJgG4z4b4GDX1L");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">JavaScript Minifier</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Compress JavaScript code to reduce file size and improve performance.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAm6Q18qALLAvdd5k9JyF9rbc0KZYRNUHXO9rBeVFy_fq5L0tcMAmFB3LjQxWoj1-PsP1jAKHCXek_bUFXDs1V4XTo-iMdpTZRzR_cmSFkU3cpxrAhLvYJlQds-nzLIzdcz7cWimeJ4Ghb7HJA71NMEMgVijPWxl3j32USJi6EvQW8YodBIdCE5FBwnCzSU042erjBJv1pqyr8hmUHdOY9CgXS6yP5iZn8YSr51ejzMq3ycl_Lcz0t2mryOa9cX9kAz5rRUQ1w_-mpu");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">SQL Formatter</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Format SQL queries for improved readability and maintainability.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBmCH5gaJjiFj9uFpUS-wRBRITeNER2BCarafwvGuJdAmXt_T6nuntVSv2zdOykNNX48RjgU0tDcFTpOv_oxPIY8plBcUtghWSudUuPu57wOZuQUvd0nhwGThv5ZqbyTSY-xXjxsPvpDJqNSrmA4fdEAMrRU8dKukWQkDR-uKViadOkK_4oV2VEm9UQvuDoSgc83Q8kSwF08-hzJJ5W6XkzzlBV3X756tzXH8t9N0m5oG9GrSAYS78Ax_57OgqirofvUmqY7y6Tyd5r");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">XML Formatter</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Format XML documents to ensure proper structure and readability.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDoMlDn1MmBpvNVaJqtzgn5-MzlweV4zvHDuCjEFq0Z_FI0IrYkOnA5yRp9c-9uDE502Wv7-kqjImaX70WCgC85E4wsmyJ0XL_ZvC1f_u1ufIx69FHy53xkOGhbGgjt7Ux8TtKOiMIbw1urG-e7ggGhpsXNi_JS5Ozlo4zgZvdJWMx2PjPFB3wuS1GBoXNb7iJAQMlXRJ0ubrKN5_QsFm70NHjlySG9noCQiYCojLeJMdVewm0yjA7fN3PpTdWY39Ly2b2zi66eD5sQ");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Regex Tester</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Test and debug regular expressions with a user-friendly interface.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBqExu8WASfTrpIUQihIUs3tyRh1NQ-D8sFAC-5Tj0DG9zrxAnGjMiwW0lvNM5VQzgn_pF3Quc4ee715I4Aq9IFiU8CpQ2YmW5FPu_IfXJZlLc0qIHbOUt-zPmmChIhHmbgHE3-WN-fzlDUzoLJX45PE5fJnFXnzzunqhDspfjshOYP3SzJT5vXkrrufC-zP9xff_Pnh71IpXB5mT6n1Tg9JuW7McIXPgJ5hg2KbMvGTnuETXSpUD-_HVKng_mBY5S2y-LGsnFjnLF6");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">UUID Generator</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Generate universally unique identifiers (UUIDs) for various applications.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDlNkCG-2jvEYwLmEwziTQkXNtJ5IUvyCgWA_B96u_234oXbIZ1WdhqpCeoXB7Lo_NMXDVLWMdZmApKTPu6UXVloSpz9hqI3YoqLhOZX7gT3Umg5aQPcT1M7zkjxbJhhxhfN-t4pXhJ1SwBxkVernVp0xGqRdfK2LzFeLvK-ibSVpNa6Q6P_A8W2AXCJ-JkvJTxYAxIHTmLN4JNT2pqZWET0LhGKIGuWNZhtr7LQwn_eAdnL1-YCn7TQYfja2kzC22q1wOy02yVQOmb");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Hash Generator</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Create hash values for data integrity and security.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="flex justify-center">
          <div class="flex max-w-[960px] flex-1 flex-col">
            <footer class="flex flex-col gap-6 px-5 py-10 text-center @container">
              <div class="flex flex-wrap items-center justify-center gap-6 @[480px]:flex-row @[480px]:justify-around">
                <a class="text-[#6a7581] text-base font-normal leading-normal min-w-40" href="#">Terms of Service</a>
                <a class="text-[#6a7581] text-base font-normal leading-normal min-w-40" href="#">Privacy Policy</a>
                <a class="text-[#6a7581] text-base font-normal leading-normal min-w-40" href="#">Contact Us</a>
              </div>
              <p class="text-[#6a7581] text-base font-normal leading-normal">© 2024 Toolbox. All rights reserved.</p>
            </footer>
          </div>
        </footer>
      </div>
    </div>
  </body>


{% endblock maincontent %}