{% extends "base.html" %}

{% block maincontent %}
      <div class="layout-container flex h-full grow flex-col">
     
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#121416] tracking-light text-[32px] font-bold leading-tight">Image Tools</p>
                <p class="text-[#6a7581] text-sm font-normal leading-normal">
                  Enhance your images with our versatile suite of tools. From resizing to converting formats, we've got you covered.
                </p>
              </div>
            </div>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBqLFRzz9Gc__fOVRyUcU4V8mp1ArEirGU4N1c1fLSbMjjgILjNtbhbUCNGj2c1U4xfNKlfR9veqk7u905iHhROCW9epHAGuUgFYqY7qgyBqUNcHxW2qwNnQdUgEsWta-72Cdx8u1h2hMGIjgbG4_o-0cKOVcAHta4RpItIiwXWnVEiWGNl_OZ91mCT98ymJ_qTccFLT-lQoA_-PpQ6dxMLKBcJCDyo3zR4XbaG_M9TD0ijeiXfAJoNzM9vVhr9IOvZh2Nzmf-N8KUi");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Resize Image</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Change the dimensions of your image</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD4Jjps7k5OcvXJLf0FKxWsDicHWbmR2MTVniMH_6bRKiUdQoCiF-Ih4yWWfLOe4kxkyDPuI5pZcPw6UuWL4IRoqlhWO8AZLbXB8d8H44AYmpQxoqlH1f40MeTHXiifMhjO_fTIl9etYPLZsSRXjm2OQNGx4TRYINstzNmW4IUr588JKUYqZtUwXxqFUM1uHRIBXxwOTFD3jwunx8GXF7NT7zHhSYfIHIC8GkxxHkn5HFMU3rld0XyUpdw-g-W698ElFkc8qrupR0jc");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Compress Image</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Reduce the file size of your image</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB-F3o-Q9zosEpFmcC_nS-aJPfWeWVJ_Vr1egY2B82pIC4fp4x7HmNtFmJMA9aPVLJUh5WFF2mFIgH3Dgoi8v4qbKs0Na4wVTwoNjGh2gFHgONd4Y9QORgVLO-UPuQ1mlR4r9kLaclI9EqRZnB6TyeqXW63SzpZV6Wf795q9SsOHQITPfonaSKKtBW2G5hE9WeBmRNciBFb3YZSyOSXpZhPHVreLz-tJ9W342H3MrPt-2jzRkuD5g7rWEJcGWL7uOKqTblR2vEGrmmv");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Convert to JPG</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Convert your image to JPG format</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBUpIziCYirUczPOgLz5OwIDLGPdAyszHBNgALqoEgWyBUIzcUSddh57ptsS8EZiQfpRQpu5CArgSGKqW9ppAkycLpRv9VvnR18o1sp21jFWw0em-eg3B72ycqjSAlnO1ROZV2AjOZmJtJ6xhA91BOdh8xjNhF4f-xJ0O9CYFd0C9BtHicUqVleTb3E2q-bakPjUYcaMu7PmL_rLR34rhqwJJwPVsBrpaTKEH3HaOugc7bh0pbycdst2rBvDeNkH7JrVfooHkyydNAu");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Convert to PNG</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Convert your image to PNG format</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCzEAD8IZKVfTDjPDJCpNt9DB5uXeSooUrSl4Xc2Yec3qPnISL-RLhD9y7f0sV6kNGrlQHZA0XHWNDycVaroD3X76hQTg_wk9sSEuqGoWbfRtnRSjjTgy26UDuWKbpza3hFBxalnkfrxkm-t5zriDsBro9gphgAOC_aPq4sFzUpJ0RRk1PBPmkwqK2p3-9rm36a0UTBMVSO3XhUHGOBssRSEgY_-X_qURlx01dZI99l5Lk9hkVUh94X4TYdmchNK4ZuQBF432Cnu0Be");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Convert to GIF</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Convert your image to GIF format</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC1--6muhq22j9tAM3OjgHJ-3cF1w3YXujQYWYqTuuDU7Uhf-5f8Z6Scz4ZCKcg6rHs3VO6TnIMwCXcE2eRu1Qjn8-Zg5mQ08nnvMAfGpQt9BV0b1rhwawhBnth75KnFFVkIIxTp3HjWpYixX5qrgIqRH6bvRWGsc27J1Mk0KpjjJkGaElh17-DuWGp8lEYfwuoLB-tp-b1w1DcAvZcEWaLuJ4BJyhRGnh6ne1_Gvs34dQqQwj5hWOaFtO1hJrihSWiYL_bSQ6gHaaJ");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Convert to WebP</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Convert your image to WebP format</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCik7KZH3LBmnqrRJhEzBgBeO3i1a18LufzE9WBAC3jw3GMOWjWjEMMWsmORKvIoq_FMStVoC8dZSIGLoSO9BL565ZA32VZYWL_uITJJm5dwDNzJBv7LCfVp6pYKfDI1UyKUxyx_bSo5jedTsbSWIBWHr-OiB9YcK0DW_gVtHYmkJlGsqnjQz7qeXQQqvTZDBtLC7VG0tHnQIyjbjJs02MyRrpaMbMrDL54DwN6KQvqJn5IHKRlxPrmfhq5MJOgAH4Xx9fVKaEqexjW");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Crop Image</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Cut out a portion of your image</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBVGORrDeou2_7YPLdFbBRT7vTd6VqxAIDPhjv1uJpcKNtcALuxCLjCcnm0gAzseAmc56y3w11cAI1bEe2W6Lo6GSW6dRAlsH5VEDPDrp9MXYRle9365RcQSMBVh9u0A6b8R5EhWSGhVp4P6oQJw1W68ygqDwyYiZIsbmHQSFLeQdVKh-1FI5RPFReLAqqIkXoTJzI24PLQfJpzNNbrJKBKSHU8hVYfnJQN16hBD3GY7ahL44rcluIqO55zMXKBii8eaclSbCt5bV3N");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Rotate Image</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Turn your image to a different angle</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuALioiFA-gyL4mdFmZljwl0G1uBT8cJCOrB06shTvJAIB2EUaDY6tS9fE3hzuiGpIwBR2G34ny6KNSZ556PYq7x-OZh6EeF9f4AUUMG9HbaxDnUdDN1Ms3mGhGL_GYE997yaSjJcFB0HW6dqhQa6o-ZEvkk1mxQI76ZMfkyEdMSndVD6ZlCAVhidNs4srUizcwLMw29rGMAbJxY9DxNJqxHF5gxK4LDZY-Lr7i_8eNmwLricaNW0ZVccV3QsakIjOcycFi0xt2FKSv7");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Flip Image</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Mirror your image horizontally or vertically</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDDNzvcJ_zl1ZGciERydM_Xym0W8t2oqXOgk80tM8NUk-EXrBjRl-GfjimZfCNwCf4Hfa5P_rC7dmVST0k6yoeXw0Ox1hVanhCX6ycOEsATwSz71h_NKf-p-6IPIgg-Av35HUl6jOCqYrBAXLQ3s9k6uEdcwok9YlIcrHb4TT4TzSbWJchDmTN-A_5Qn_9M1YxVODR-RFtVeyb1nn0cCxEctUbVya2Tj4XXX9Z39VRTHYsYgRyxf8EdOB6QfxuM7Wzuw2wtOnLKQvo3");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Merge Images</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Combine multiple images into one</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAf8MnU-Ad_xsydasL9uLbltL0qO8AYJpWn6nnXOEaRX6aQsHHTOnV_EtUH8GuBrAjautOh08wR3zY7G8f1YClExD0LSQVBYy-xIcBvcaNQLpnv9kMf7iY0qsbhxF39BgG4ZwJOWgnxIv7B8EDyz4VqpW9nHcd2C6XhcQTh4RDk27I9-Eemq8y2tFKcO-zICcxintljzuSIObKSeLEpJhxurKnKfUrBezWxyviKO2jp3_DBYS_dc9h8gosySavTg-z7W-iRDbt6_CoZ");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Watermark Image</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Add a logo or text to your image</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDmn3KXuQAC-HrqqrE7lHFyBCZd527DYeqG36O5znBv7Fqbi-JMqbe6u2YDGZCebtHt7sLIQb_T2iuLnwW8IENmMJB75MtYHkuvJ3OUxYAvFNt4agJFPBvL-i-kmvNsyrpHKVUWxBiN3aahOPK7lDuKoAxjWv96KJCgwlJbFdmHKinVqIHRG3yL3HjNmgLqc8FuQD09Ym5GWBdh5N0C-VjjTE8M2RS4zba0Y5O142knUEMjsvyAXJ_GDS56_fCY19HXbKVG2nEsm4hm");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Remove Background</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Erase the background from your image</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock maincontent %}