{% extends "base.html" %}
{% block maincontent %}
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        
                <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#111418] tracking-light text-[32px] font-bold leading-tight">Miscellaneous Tools</p>
                <p class="text-[#637588] text-sm font-normal leading-normal">Explore a variety of handy tools for everyday tasks.</p>
              </div>
            </div>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC7H7JZW13usdgUWSVda5lYFGsxkMKrl6g1kLZymkfp4qLHcXDkYnK2gsNnm52cMo395qLkmwNGEiwbQpe5Fs96ahKhjw7kF3rGkDRB1OYltZQvXgHueZjNRtk9QxB0tBiLdzjriMkxxGofgY_H_XdA4hKs5Z9GDgf2J-sCtddBpvBuwQeCnShQ4oFfCOKNBNXRDk7sG6JSGD7MjviGqKXqrcs3rXZ6HPGiLsJsXa_BK1GtdOaV2Sh7-HU6TUVBXYdAtg5EhHAsZyLb");'
                ></div>
                <div>
                  <p class="text-[#111418] text-base font-medium leading-normal">QR Code Generator &amp; Scanner</p>
                  <p class="text-[#637588] text-sm font-normal leading-normal">Create and scan QR codes effortlessly.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDEnu2_XgS-4O9ORun_8rYV1EdPuGm4j1AeuLLFfglOp7kdeYo9Ctoj5MvDvIS9M-6f2ylzzuNV8V-5aez1mp8bAq9bJuywOV66yTVqkFttOe1EBaVknewNJjMIiXlDcwEbpjs7T4KCj42M1oPXslzYeKM7Xj59bbQVX7NxnSYS4czDAGiX0tqACrx6qzup_E6QiUnfex7eER8SRAWp4FJ9ZWhjfEzHJFouOWpxKE1PbyiVrTwcL2I6MWyiZwph9UGTtRWfX0sHDcol");'
                ></div>
                <div>
                  <p class="text-[#111418] text-base font-medium leading-normal">Barcode Generator</p>
                  <p class="text-[#637588] text-sm font-normal leading-normal">Generate barcodes for various purposes.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDRgqlXN0YthQWZRw_7tCuALEgFYmhB-mrJu-9oINe0tT9XJ_YbOyJzkRqQPG5WsMs4sJEBBjI8mdp5IG3fJp9c2yz0s6yOSa21dffCJDg79XXy5wMTGFbMvPPZAbdalxVNX6AYyGtP_G2Ctpw-jlHMPHqGl-Veyrh6ejXzsJoNeMmSi9M7k5jRtEeq4OpaRL4h0Qd4nbt4zRxN4Lscxp5rRXI5DkiDNp4SQR7DZqMUw701-w5oe5gfo8RyWh2uAegpcpGlJJUaZZCe");'
                ></div>
                <div>
                  <p class="text-[#111418] text-base font-medium leading-normal">Random Number Generator</p>
                  <p class="text-[#637588] text-sm font-normal leading-normal">Generate random numbers within a specified range.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDQ_fWTUk6JBRGjpe6XXRtIo91GBHP3MedSFXN3zkJrAOxTQGw51jGtoqwHAU1aiWEZx5Bq1KmPrwlm-qEwN82O8OnXN-GSPalfo3qtidnYqp_mt-wCaBBgc8wfiYvyZAHmyXIHO_y3tR0gZPdhcFXxKiPfs9EPw0h5sAoyxioDFd9qBCu_mXIE5VZjQcufE4IU0w5pFGTuEt-_4K3d4WLscpmQEOwUIOV8A8aQGAZksf3g4O-fuQvoBj0YgVdhIOuxq_I5Cxy85XLH");'
                ></div>
                <div>
                  <p class="text-[#111418] text-base font-medium leading-normal">Pomodoro Timer</p>
                  <p class="text-[#637588] text-sm font-normal leading-normal">Manage your time effectively with the Pomodoro technique.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDVptSH4-h-cOfUcWgKDGyyQhu68M07oXZsPSRTqn_9sQ7yPKDW_7gwg2NnkerPHIFNmClIACbvM7-_ANxPC16Ck3SxBWU04pxe2RKT-rAvQtCz_wAoz8mILx14ErotUjsNm2FA6oCJp_ktNF_Cons7zAFlFay7iQch9WGockQ9RCcQmNq_EhLs8wfWY_osIFTaWPK-GpM0HtJK4_KVNVg3mEHWIpDo-Qudqcm60Vdp054j_gp6mBzFPmCyfCwAzVuBWY81m5ba_GSl");'
                ></div>
                <div>
                  <p class="text-[#111418] text-base font-medium leading-normal">Sticky Notes/Notepad</p>
                  <p class="text-[#637588] text-sm font-normal leading-normal">Create and manage digital sticky notes.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC9Mv9ShR7RMg3jV_EtunsNmvT9gXouLNmz_9C0AW5tBPc4MJOtu4weXMRAzABO-lQc5ANLyvtylAPvt4l_ADy5k7_p3mtVVZebQDAtvcBsIsRKfX8NW99RgEh4eM3cR3ohbZ5Gf90Ktatn6P54YmHhZySOOwPVZF5DEUQSTrZBkDmLyP771uyy9QCYgsjDohwvbhTxm9AwkyFG-lvnzGizT0diUibYo43Sq6a11jJMDgcVAnHN07PO98--jgyCEsVW15qDFj2nMB2S");'
                ></div>
                <div>
                  <p class="text-[#111418] text-base font-medium leading-normal">Todo List</p>
                  <p class="text-[#637588] text-sm font-normal leading-normal">Organize your tasks with a simple todo list.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCnRw3Q4-PGjjbSxCE0bgvRCygLM9aeBLhs8QMO8RoU5hLUENXBykzAUir8wngLzAuMlJ-oWQXGiGx7RT4kNoozNId8rajxt3jZiTxwaKZG4Q_z14vvGXZfnhCcNtOEnOggVbRKPpbtg93-i5PaWJe-zWlagDJsgmPCMmrdaFRYNoxhV8KonJN5NwtavmSmA4hGzDcr5No2o3qTCQjVN8rGn3D-av8A4xhNYHXIjj7FVd4oiXO0y9GHdS4Hao_dCQV9B_RrUp_3br4v");'
                ></div>
                <div>
                  <p class="text-[#111418] text-base font-medium leading-normal">Stopwatch &amp; Timer</p>
                  <p class="text-[#637588] text-sm font-normal leading-normal">Track time with a stopwatch and set timers.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBz0AqvIKTQ-3a0Qfq9o8vvD7-f8aG-pd7FhQJ7qFiQQcmKiruvVuDb1znhb3FFIcQwooTRyPcSD08kiPHVP5hMT5lYwn2TNLwGc0aoeaQcTk31DdWPGkPJfmxtExS5cgLqHdfvIatTXssZQA7Wyf3PnXmOVHWCyNKdHFTXVEwotb5Lap429twXPtqCeDl7ml_MWldqCCg-CycmA7hnxr2W-0DNAVc27c-gQr1YdSmA47IPxOjL0bZcQi6M9cjQhwB5a4dwFAXPVmOo");'
                ></div>
                <div>
                  <p class="text-[#111418] text-base font-medium leading-normal">Calendar</p>
                  <p class="text-[#637588] text-sm font-normal leading-normal">View and manage your schedule with a built-in calendar.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAxDeqJ1Sq-VaOjHD4wOJdJsn-xh0sNaMz8HRe90CwespJCil26lv_TCIjib-ZSePgEMkxXoADhg_BpXXi6q66gAMNA-6HAS0NFdMDusoB-LLTmomYyCdr9j1X6MVE9clIC9_eyBP7q1EUNbE_5LZa0tvTufQlOzGMymwSPkx52W82MjryjUTbkLI9u0rE6dTCQB9-dq_3bGTP0ZsV3MVxlanHgPMHl4qV13wjzikEhwYkgR_vaudRD_TSQJmdcdWXE-504BeoG3tr6");'
                ></div>
                <div>
                  <p class="text-[#111418] text-base font-medium leading-normal">IP Address Finder</p>
                  <p class="text-[#637588] text-sm font-normal leading-normal">Find your public IP address.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCtrYcChCNpPHawIMqThiaI2sP-nI_yNGxaM53z0g2P2F2d9Z_4woDArIwdezfvxbCB7iPx7h0r8dc4Ndqz0dLv4TBUIVNygQK-2B5D_DFLeSM_j8Xa72mVZ5Vtu5L-IvbVN_AAY7DfpiQcaJ6b0NZQJ99LCX8T0zYsF15rnuNe0T4zx9iDMPQA-LS8M9S2moP5Ypm2VjS315j7X5uCqh-2czbf0yex9fSl8QliIiQYDy4NBCGoOz6gWnjWnh-aH48fCigiaXpmGUGR");'
                ></div>
                <div>
                  <p class="text-[#111418] text-base font-medium leading-normal">Local Weather Info</p>
                  <p class="text-[#637588] text-sm font-normal leading-normal">Get current weather information for your location.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>



{% endblock maincontent %}