{% extends "base.html" %}

{% block maincontent %}
<html>
  
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
  
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#121416] tracking-light text-[32px] font-bold leading-tight">Web &amp; Development Tools</p>
                <p class="text-[#6a7581] text-sm font-normal leading-normal">
                  Explore a suite of tools designed to streamline your web development workflow. From code formatting to website analysis, we've got you covered.
                </p>
              </div>
            </div>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCCbBUVmoB3-JcwlR9YVdb4q_DqPBK336s_wB8t_Yqt55WCkzVBwn5sCkD8Qcv_prPFqe2db33PGFrlN5JkxGYeiVmKiNlLnPIqAgOHTpHhcVdC63MOJBBvRPnbkIXKzqI4hr1t8POyq7Qq02E89aRCyFDlQG4IGgmEEHSJIgNN3JqWXSgJ-oObTvOCdeLKyWqprYUReLXSn0j1a5mfSAlD4f5fBA5oY3V1cBaUh4FayEDbGTru2koN9gXIjrSHeg0j20Xi_8zqcjM2");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Code Formatter</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Format your code with consistent style and readability.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAUZL9Oid85DisANYQ950XnPL_N68okcBCwT0GeGYaC3R852nOq5eg4zk-j0pecQEYOw-SsDkumEMNKe0fEvztNWee5Lplp20O4QvYWFE5lKgEaA7AUSZtBf8zZejazA9K22mBvN6UJAvCL_eQ_1W-O7lvmnMEmly-ETab0kUlcAg3wec7xhHnhGSztRUvKs8yqOkWsJQYPSCbTK7flqJ1jVYIfqzWQvyI3WVRUotFx4Q7G7Y092y7p_bYx8ys_hEMlgQLJimJ6Zmlw");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">HTML Validator</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Validate your HTML code for errors and compliance.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCezxiJgBu7Mzfo8d-bI-8CKf0j_u_2zf0ISZNcUSeO0ERfvmGf17JiWRKJNXs3pJPp8IjiERC5ia2onHOp_91D0fUS-lTzDXwiAI64qv_pE22jAZ8S52LPhmXcjb_24FkVtFEJhigk6BzmMEPtH001UhtnvkmSwr8qGwYk3hiEyZupM6oaiwZtOmfJ9OdOKqS64iqHaJAwaWwbXMxcADrwd9PEgX8lI647k9nD45-i06lKJp6R4bmLL9mGGfTaSXaR_uT7Amz2UEz-");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">CSS Minifier</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Reduce CSS file size for faster loading times.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBjjdfDEOyaixJGfZAb2fpeUIbnUEUxRqp5RSWwOxCEBv0DFsQKHopaWNEf3G72O5fBoWQ5U-CW8C26CI4_fBcVH3rEGRlwRTYb6Ybo_TtvHpal4PHtx-2IvaC_ieNWJhNHrmIDx1FLUipatW2cFdN6yKlphyZFvImn0phtA5agIOjPYTT08MrLyOGCJaMmCZ8QQLG_DH3gRFMXYX3ekosCn_92gR5sy99r5fc355i2yxpret1qbKZd8yRxpOTkF3-TBkD4aaa3TU2L");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">JavaScript Beautifier</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Make your JavaScript code more readable and maintainable.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCEW1YkHBEizxjIiUqQMTD8Vy3jItvKS_Qd-89W8X4GOSBDfSQ4tijT0WfyhbZ4vrEowG3o5jLEZ2juGZ_eSKq0e9QpU6Jwp3gQKLrOwB1uJGKfyP-TxiIAF5LKxIOiigjrtKwYMCb4KePFJbQpdzzkQCsZDCMgCskIl6pr7ro68fkLHsPW7OGX9W9aAcRs5sf_mBeYeIAAx4CuT3WyaMxHiZMF2yD0n4cbpMgG_cft-EUZ6EWVGX65VhPgIAwYKnewBQworU1mOVYA");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Website Speed Test</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Test your website's loading speed and performance.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDMRifPveenRAO3IfgSwSj9zjtpvr12ORV2XqHeLzdQIhWtxrUxreWgE50GMHyblH56ykaOpMNgdVO__MPrUpDo5bk8AaginyrLMaamqLM1jGGuwmespOPgDLbxA1DPxF1rVtFAv7quI3hvW2_vH8agrmgBM30ImbrQ6PeJ1AsHKMMmBe5U6N_hViiDtTvNn5GzcwcUogpLpqtDTWip2kWuuEOTlE3cMAbcOdpAh14BRV5H3jC7_3pXDz5PeS6EKDVByWMb1rgkeBbb");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">SEO Analyzer</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Analyze your website's SEO performance and identify areas for improvement.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuACbl9O_AuMaI0xr9IQssHTdtyorgbz7uVHBA2QjyZGuEPYEthPDqScrr6NUAt8dddxs19IWwpsr6vY8kTXTjh0tAS1AZyHZaAklXpqbDZbcJJJxfaiis7SXsvbHBPcg2PDOJ1Q_b4vgMdb-BK4iV9z8E3ob97ujuvK8FqTy9jAzID9iOctO8Xzau4iLs2fdivnr3ml8VC-ESVItowdYASfvXW98WVXcMjy8l8ST-M82KZqQAncYk5CF6r6Xnu2Zeny0UPmjbaRct38");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">Domain Availability Checker</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Check the availability of domain names.</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB41GPkbPvnyhzjseOMV3s7IMOBj0gOsIgKZ1-0kI9aSDdmbriju0O9DFdSlZtGpBpwSfWw6ix46sMauMCkZKepDhIyIXWRFtcTaO2FFuahYnii3aOMNZpDj9BSlkK3cAdOpJpv-W4IMVoE2sx9zJkKirSnBTZvW3MnU9zBj30LItwWw4J1UW27sfCVTSPv_EomRy7bqyVzL8i0hl5dxj8WqVWCHnN8m1rQLMzwQaSgjnE33vHiOaESrliqhSnmrTY92dITi5QhBv3L");'
                ></div>
                <div>
                  <p class="text-[#121416] text-base font-medium leading-normal">SSL Certificate Checker</p>
                  <p class="text-[#6a7581] text-sm font-normal leading-normal">Verify the validity and details of SSL certificates.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

{% endblock maincontent %}